body{
    background-color: rgb(202, 202, 167);
}

h1{
    text-align: center;
    border: 2px solid grey;
    border-radius: 10px;
    background-color: beige;

}

#gamePage{
    border: 2px solid grey;
    background-color:beige;
    border-radius: 10px;

    /* Disables autoclick highlighting of buttons */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    user-select: none;
    text-align: center;

}

#buildings>button{

    background-color: rgb(239, 255, 238);
    padding: 8px 24px;
    border: 1px solid black;
    display: flex;
}

#buildingInfo{
    display: block;
    flex-direction: column;
    text-align: left;
    padding-top: 4px;
    padding-bottom: 8px;
}

#buildings>button:hover{
    background-color:rgb(208, 240, 206);
}

div#buildings{
    margin-left: 10px;
}

#factionCoins{
    border: 2px solid grey;
    background-color:beige;
    border-radius: 10px;
    text-align: center;
    margin-top: 4px;
    padding: 6px;
}